<% if signed_in? %>
  <h2>Add a review:</h2>
  <%= form_for([@product, @product.comments.build], remote:true) do |f| %>
    <p>
      <%= f.label :body, "Comments" %><br>
      <%= f.text_area :body %>
    </p>
    <p>
      <%= f.label :rating, "Rating" %><br>
      <div class="rating"></div>
    </p>
    <br>
    <p>
      <%= f.submit "Submit" %>
    </p>
  <% end %>
<% end %>
