
<h1>Products</h1>

	<div class="row">

		<div class="col-md-12">
			<p>
			  <%= image_tag(@product.image_url, class: "img-responsive") if @product.image_url %>
			</p>
		</div>

		<div class="col-md-12">
			<p>Average Rating: <div class="rated" id="average-rating" data-score="<%= @product.average_rating %>"></div> </p>
		</div>

		<div class="col-md-12">
		  <p>
		  	<strong>Name:</strong>
		  	<%= @product.name %>
			</p>
		</div>	

		<div class="col-md-12">
			<p>
			  <strong>Description:</strong>
			  <%= @product.description %>
			</p>
		</div>


		<div class="col-md-12">
			<p>
			  <strong>Price:</strong>
			  <%= @product.price %> €
			</p>
		</div>

		<div class="col-md-12">

			<% if signed_in? %>
				<%= form_tag "/payments/create" do %>
				<!-- (params[:product_id]) < payments_controller // product_id accessible: this enables payments controller to access product -->
				<%= hidden_field_tag(:product_id, @product.id) %>
		  	<%= render partial: "shared/stripe_checkout_button" %>
				<% end %>
			<% end %>
		</div>


		<div class="col-md-12">
			<%= render partial:'new_comment' %>
		</div>

		<div class="col-md-12">
			<%= render partial:'comments' %> 
		</div>

	<div class="pages"><%= will_paginate @comments %></div>
	<div class="col-md-12">
		<p>
			<%= link_to 'Edit', edit_product_path(@product) %> |
			<%= link_to 'Back', products_path %>
		</p>
	</div>
</div>
