<div class="headers">
<h1>Products</h1>
</div>


<div class="row" data-product-id="<%= @product.id %>">

	<div class="col-md-12">
		<div class="imgc">
			<%= image_tag(@product.image_url, class: "img-responsive img-zoom", data_zoom_image: @product.image_url) if @product.image_url %>
		</div>
		<p>Average Rating: <div class="rated" id="average-rating" data-score="<%= @product.average_rating %>"></div> </p>

		<% cache @product do %>
		<p>
			<strong>Name:</strong>
			<%= @product.name %>
		</p>

		<p>
			<strong>Description:</strong>
			<%= @product.description %>
		</p>

		<p>
			<strong>Price:</strong>
			<%= @product.price %> €
		</p>
		<%end %>

		<% if signed_in? %>
		<%= form_tag "/payments/create" do %>
		<!-- (params[:product_id]) < payments_controller // product_id accessible: this enables payments controller to access product -->
		<%= hidden_field_tag(:product_id, @product.id) %>
		<%= render partial: "shared/stripe_checkout_button" %>
		<% end %>
		<% end %>

		<%= render partial:'new_comment' %>

		<div class="alert alert-info" style="display:none" role="alert">A new comment was posted!</div>
		<%= render partial:'comments' %>

		<div class="pages"><%= will_paginate @comments %></div>

		<p>
			<%= link_to 'Edit', edit_product_path(@product) %> |
			<%= link_to 'Back', products_path %>
		</p>
	</div>
</div>
