<!DOCTYPE html>
<html>
  <head>

    <title>Nameofapp</title>
    <%= csrf_meta_tags %>

    <link href='https://fonts.googleapis.com/css?family=Amatic+SC' rel='stylesheet' type='text/css'>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

    <meta name="viewport" content="width=device-width, initial-scale=1">

  </head>


  <body data-spy="scroll" data-target=".navbar" class="wrap"> <!-- so content won't get overlayed by the navbar --> 

    <div id="flash">
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
    </div>

<script type="text/javascript">
    $(document).ready(function(){
      setTimeout(function(){
        $('#flash').remove();
      }, 3000);
    })
</script>


        <nav class="navbar navbar-inverse navbar-fixed" role="navigation">
          <div class="navbar-header navbar-fixed-top">
            <button type="button" class="navbar-toggle" data-toggle="collapse"
            data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div> <!-- END NAVBAR HEADER -->


        <div class="navbar-collapse collapse center">
          <ul class="nav navbar-nav">
          <li><a href="#">⏄</a></li>
            <li><%= link_to "home", root_url %> </li>
            <li><%= link_to "Products", products_path %></li>
            <li> <%= link_to "About", '/static_pages/about' %> </li>
            <li><%= link_to "Contact", '/static_pages/contact' %></li>
            <li class="nav-search">
              <%= form_tag("/products", method: "get") do %>
                <%= text_field_tag(:q) %>
                <%= submit_tag("Go!", class: 'button-s') %>
              <% end %>
            </li>
            <li class="hmenu">
              <% if user_signed_in? %>
                <%= link_to('Logout', destroy_user_session_path, :method => :delete) %>
            <% else %>
              <%= link_to('Login', new_user_session_path) %>
            <% end %>
          </li>
          </ul>
        </div> <!-- END NAVBAR COLLAPSE -->
      </nav> <!-- END NAVBAR -->

    <%= yield %>

<footer class="footer">
      <div class="container">
        <p class="footercr">&copy; 2016 Bikes Berlin</p>
      </div>
</footer>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

 </body>
</html>