<!DOCTYPE html>
<html>
  <head>

    <title>Nameofapp</title>
    <%= csrf_meta_tags %>

		<link href='https://fonts.googleapis.com/css?family=Amatic+SC' rel='stylesheet' type='text/css'>

		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

    <meta name="viewport" content="width=device-width, initial-scale=1">

  </head>

  <div class="page-wrap">

  <body data-spy="scroll" data-target=".navbar"> <!-- so content won't get overlayed by the navbar --> 

    <div class="page-wrap">

        <nav class="navbar navbar-inverse navbar-fixed" role="navigation">
          <div class="navbar-header navbar-fixed-top">
            <button type="button" class="navbar-toggle" data-toggle="collapse"
            data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div> <!-- END NAVBAR HEADER -->

        <div class="logo navbar-brand">
          <a href="#">⏄</a>
        </div> <!--end projectName -->


        <div class="navbar-collapse collapse center">
          <ul class="nav navbar-nav">
            <li><%= link_to "home", 'static_pages/landing_page' %> </li>
            <li><%= link_to "Products", products_path %></li>
            <li> <%= link_to "About", '/static_pages/about' %> </li>
            <li><%= link_to "Contact", '/static_pages/contact' %></li>
          </ul>
        </div> <!-- END NAVBAR COLLAPSE -->
      </nav> <!-- END NAVBAR -->

    <%= yield %>

<footer class="footer">
      <div class="container">
        <p class="footercr">&copy; 2016 Bikes Berlin</p>
      </div>
</footer>

</div>

  </body>
</html>
